@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

ion-content {
    --padding-top: 40%;
    --padding-start: 10%;
    --padding-end: 10%;
    --background: url('https://images.unsplash.com/photo-1536431311719-398b6704d4cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80') 0 0/100% 100% no-repeat;
}

.top {
    position: relative;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    width: 60%;
    font-size: 1.5rem;
    outline: 0;
    border: 0;
    border-radius: 35px;
    border-bottom-right-radius: 125px;
    border-bottom-left-radius: 125px;;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }

  .bottom{
    position: relative;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    width: 60%;
    font-size: 1.5rem;
    outline: 0;
    border: 0;
    border-radius: 350px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
      
  

#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

hr.rounded {
    border-top: 5px solid #bbb;
    border-radius: 5px;
    width:60%;
  }