<ion-header>
</ion-header>


<ion-content>
  <div id="container">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-align-items-center">
          <ion-button class="bottom" size="large" [routerLink]="['/login']"  color="tertiary">Accedi</ion-button>
          <hr class="rounded">
          <ion-button class="top" size="large" [routerLink]="['/registrazione']"  color="danger">Registrati</ion-button>
          
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

