<ion-header>
  <ion-toolbar>
    <ion-title>Password Dimenticata</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Inserisci l'Indirizzo email e se troviamo un account, ti invieremo un link di ripristino</ion-card-subtitle>
      
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Conferma Email</ion-label>
        <ion-input></ion-input>
      </ion-item>
    
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block">Invia email</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
