<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button fill="solid" color="danger"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <img src="https://www.affaritaliani.it/static/upl2020/oper/operai-cantiere-110.jpg">
          <ion-card-subtitle>L'applicazione fa uso dello scanner per i codici QR. Assicurati di aver concesso i permessi all'applicazione 
            per un corretto funzionamento di quest'ultimo</ion-card-subtitle>
          <ion-card-title>
            Visualizza Audit in sospeso
          </ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-button shape="round" [disabled]="isButtonDisabled()" expand="full" [routerLink]="['/pagina-lista-audit']" color="danger">
            <ion-label>Accedi alla lista  </ion-label>
            
            <ion-icon name="send-outline"></ion-icon>
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <img src="https://www.seitv.it/wp-content/uploads/2017/12/operaio-edile-687x358.jpg">
          <ion-card-subtitle>Assegna una attrezzatura assegnata alla tua squadra ad un altra squadra</ion-card-subtitle>
          <ion-card-title>
            Presta Attrezzi
          </ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-button [disabled]="this.disableAttrezziButton" shape="round" expand="full" [routerLink]="['/assegna-attrezzatura']" color="danger">
            Prestito
            <ion-icon name="hammer-outline"></ion-icon>
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-header>
          <img src="https://st2.depositphotos.com/5890212/42616/i/450/depositphotos_426169028-stock-photo-group-engineer-manager-factory-workers.jpg">
          <ion-card-subtitle>Vedi chi appartiene alla tua squadra</ion-card-subtitle>
          <ion-card-title>
            Visualizza gli utenti della squadra
            
          </ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-button shape="round" expand="full" [routerLink]="['/lista-utenti']" color="danger">
            Visualizza
            <ion-icon name="people-outline"></ion-icon>
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

</ion-content>
