<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Preparazione Invio Audit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="ion-text-center">Riepilogo dati</h1>
  <h3 class="ion-text-center">Assicurati che tutti i dati siano corretti</h3>
  
  <ion-list *ngFor="let data of listaAttrezzature">
    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Codice attrezzatura: {{data.codiceAttrezzatura}}</ion-card-subtitle>
          <ion-card-title>{{data.nomeAttrezzatura}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-item autogrow="true">
            <h3>Stato dell'Attrezzo: {{data.statoAttrezzatura}}</h3>
          </ion-item>
          <ion-item autogrow="true">
            <h3>Descrizione dell'Utilizzo: {{data.descrizioneUtilizzo}}</h3>
          </ion-item>
          <ion-item autogrow="true">
            <h3>Note Aggiuntive (Opzionali): {{data.noteAggiuntive}}</h3>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

  <ion-button color="danger" (click)="invioAudit()" expand="block">
    <ion-icon name="paper-plane-outline"></ion-icon>
    Invia elaborato
  </ion-button>
</ion-content>
