<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
  <ion-item>
    <ion-avatar>
      <ion-icon name="person-circle-sharp"></ion-icon>
    </ion-avatar>
    <ion-label>
      <p>       
         Bentornato
      </p>
      <h3>
        {{this.emailUtente}}
      </h3>
    </ion-label>
    
  </ion-item>
</ion-header>

<ion-content>
  
  <div class="slides ion-margin-bottom">
    <ion-slides [options]="slidesOptions">
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <div class="main">
              <img src="https://blog.manageengine.it/wp-content/uploads/2018/04/17_04_Log360.jpg">
            </div>
            <img class="files" src="https://blog.manageengine.it/wp-content/uploads/2018/04/17_04_Log360.jpg">
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <ion-card-title class="ion-margin-bottom"><h1>
              <ion-icon name="receipt-outline"></ion-icon>
                Audit correnti:<br/>
            </h1></ion-card-title>
            <ion-card-subtitle class="ion-text-right">{{this.auditMessage}}</ion-card-subtitle>
            <ion-progress-bar value="0.5" color="custom"></ion-progress-bar>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
  
  <div class="container">

    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-button color="light" [routerLink]="['/menu-principale-links']" fill="clear">
              <ion-icon name="apps-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="7">
            <ion-label>
							<h4>Apri Menú</h4>
						</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

      

  </div>
  
  
  
</ion-content>
<script type="text/javascript" charset="utf-8" src="cordova.js"></script>