<ion-header class="ion-no-border"> 
  <ion-toolbar translucent="true">
    <ion-buttons slot="start">
      <ion-back-button fill="solid" color="danger"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card>

    <ion-card-content>
      <ion-card-header>
        <ion-card-subtitle>Registra un nuovo account</ion-card-subtitle>
        <ion-card-title>Registrazione</ion-card-title>
      </ion-card-header>
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input [(ngModel)]="postData.nome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Cognome</ion-label>
        <ion-input [(ngModel)]="postData.cognome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input [(ngModel)]="postData.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Conferma Email</ion-label>
        <ion-input [(ngModel)]="postData.confirmEmail"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="postData.pass"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Conferma Password</ion-label>
        <ion-input type="password" [(ngModel)]="postData.confirmPass"></ion-input>
      </ion-item>
      <ion-button (click)="register()" type="submit" color="danger" expand="block">Crea account</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>

