<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Assegnazione</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <h1>{{this.nomeAttrezzatura}}</h1>
  </ion-item>
  
  <ion-item>
    <ion-label>Scegli Squadra</ion-label>
    <ion-select [(ngModel)]="this.idSquadraToChange" placeholder="Scegli Squadra">
      <ion-select-option *ngFor="let data of listaSquadre" value="{{data.IDSquadra}}">{{data.nomeSquadra}}</ion-select-option>
    </ion-select>
    
  </ion-item>

  
<ion-button color="danger" expand="block" (click)="cambiaSquadra()">Accetta cambio</ion-button>
  
</ion-content>
