<ion-header class="ion-no-border"> 
    <ion-toolbar translucent="true">
      <ion-buttons slot="start">
        <ion-back-button fill="solid" color="danger"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Accedi al tuo account</ion-card-subtitle>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item class="formL">
        <ion-label position="floating">Email</ion-label>
        <ion-input [(ngModel)]="postData.email"></ion-input>
      </ion-item>

      <ion-item class="formL">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="postData.password"></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button (click)="login()" color="danger" expand="block">Accedi</ion-button>
          <a [routerLink]="['/pass-dimenticata']" class="small-text">Hai dimenticato la password?</a>
        </ion-col>
      </ion-row>
    </ion-card-content>
    
  </ion-card>

</ion-content>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" integrity="sha256-qM7QTJSlvtPSxVRjVWNM2OfTAz/3k5ovHOKmKXuYMO4=" crossorigin="anonymous"></script>