ion-content {
    --padding-top: 40%;
    --padding-start: 10%;
    --padding-end: 10%;
    --background: url('https://images.unsplash.com/photo-1536431311719-398b6704d4cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80') 0 0/100% 100% no-repeat;

    ion-item{
        background-color: transparent;
    }
}

ion-card{
    width: 100%;
    box-shadow: none;
    border-radius: 14px;
    padding: 14px;
    background: rgba(255,255,255,.8);

    .main {
      width: 60px;
      height: 60px;
      border-radius: 50px;
      box-shadow:  7px 7px 20px #dbdfe2, 
             -7px -7px 20px #ffffff;
            
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 30px;
      }

      

    }

    .files {
        padding-top: 14px;
    }

    

  }

ion-header {

    ion-toolbar{
        .bordered{
            --border-radius: 10px;
            box-shadow: 5px 5px 10px #d1d1d1, -5px -5px -10px #FFFFFF;
        }
    }
}