<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Lista Utenti in Squadra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let utente of listaUtenti">
    <ion-item text-wrap>
      <ion-label>
        <h2><ng-container *ngIf="utente.isCaposquadra==true"><ion-icon name="star-sharp"></ion-icon></ng-container>{{utente.nomeUtente}} {{utente.cognomeUtente}}</h2>
        <h3>{{utente.ruoloUtente}}</h3>
      </ion-label>
    </ion-item>
    
  </ion-list>
</ion-content>
