<ion-header>
  <ion-toolbar>
    <ion-title>Lista attrezzature in squadra</ion-title>
    <ion-buttons slot="start">
      <ion-back-button
          [text]="buttonText"
          [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list inset *ngFor="let data of listaAttrezzature">
    <ion-item (click)="checkVisivoStrumentale(data.codiceAttrezzatura)">
      <ion-label>
        <h2>{{data.nomeAttrezzatura}}</h2>
        <h3>{{data.esitoAttrezzatura}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/conferma-invio-audit']" color="danger">
      <ion-icon name="arrow-redo-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
