<ion-header>
  <ion-toolbar>
    <ion-title>Compilazione per Audit</ion-title>
    <ion-buttons slot="start">
      <ion-back-button
          [text]="buttonText"
          [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating" class="ion-text-center" >{{this.nomeAttrezzatura}}</ion-label>
    <ion-input disabled="true"></ion-input>
  </ion-item>
  
<ion-item>
  <ion-label position="floating">Stato Attrezzatura</ion-label>
  <ion-input [(ngModel)]="statoAttrezzatura"></ion-input>
</ion-item>
  

<ion-item>
  <ion-label position="floating" >Descrizione Utilizzo</ion-label>
  <ion-input [(ngModel)]="descUtilizzo"></ion-input>
</ion-item>
  

  
<ion-item>
  <ion-label position="floating" >Note aggiuntive (opzionali)</ion-label>
  <ion-textarea auto-grow="true" [(ngModel)]="noteAggiuntive"></ion-textarea>
</ion-item>

<ion-list style="text-align:center">

  <ion-button class="ion-align-items-center" (click)="salvaRisultati()" color="danger" expand="block">
    <ion-icon name="receipt-sharp"></ion-icon>
    Invia referto
  </ion-button>

</ion-list>


</ion-content>
