<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cambia Attrezzatura a Squadra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list inset *ngFor="let data of listaAttrezzature">
    <ion-item (click)="cambioAttrezzaturaDetails(data.codiceAttrezzatura)">
      <ion-label>
        <h2>{{data.nomeAttrezzatura}}</h2>
        <h3>Tocca per assegnare l'attrezzo ad un altra squadra</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
