<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list>
          <ion-item>
            <ion-label>
              <h1>Utente</h1>
            </ion-label>
          </ion-item>
          <ion-menu-toggle>
            <ion-item [routerLink]="['/menu-principale']">
              <ion-icon name="home-outline"></ion-icon>
              <ion-label>
                <h3>Menú principale</h3>
              </ion-label>
            </ion-item>
            <ion-item [routerLink]="['/assegna-attrezzatura']">
              <ion-icon name="hammer-outline"></ion-icon>
              <ion-label>
                <h3> Presta Attrezzi</h3>
              </ion-label>
          </ion-item>
          <ion-item [routerLink]="['/lista-utenti']">
            <ion-icon name="people-outline"></ion-icon>
            <ion-label>
              <h3>  La mia Squadra</h3>
            </ion-label>
        </ion-item>
            <ion-item (click)="logout()">
              <ion-icon name="log-out-outline"></ion-icon>
                <ion-label>
                  <h3>  Logout</h3>
                </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
